body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2F3C57;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2F3C57;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#quote-container {
  position: relative;
  height: 100%;
}

#quote-box {
  margin: 5rem 40rem;
  padding: 5rem;
  background: #9C94A7;
  color: #2F3C57;
}

#text,
#author {
  font: 1.5em "Lobster", "Marck Script", cursive;
}

#button-group-quote,
#button-group-lang {
  padding-top: 2rem;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-secondary:visited {
  background-color: #2F3C57 !important;
  color: #9C94A7 !important;
}

#tweet-quote,
#tweet-quote:hover,
#tweet-quote:visited,
#tweet-quote:active {
  text-decoration: none;
  color: #9C94A7;
}